In [3]:
import numpy as np
import pandas as pd
from scipy import stats
from utils import *

# Cara Dengan Function

**Arguments:**
- `csv_file`: path to csv file
- `noise`: noise type -> 'white', 'pink', 'brown'
- `task`: 'nap' or 'read'
- `freq`: 'alpha', 'beta', 'delta', 'theta', 'gamma'
- `feature`: 'sum_filtered', 'avg_filtered', 'rel_pow'
- `savelog`: if True, will save the report to `ttest_log.csv`

# Cara Manual

In [6]:
csv_path = 'run_log.csv'
df = pd.read_csv(csv_path)
df.head()

,subject,noise_type,task,freq_type,sum_raw,avg_raw,sum_filtered,avg_filtered,rel_pow
0,1,brown,nap,delta,361839889.2,1121.726764,2.108865e+08,653.761464,0.582817
1,1,brown,nap,theta,361839889.2,1121.726764,1.756508e+07,54.452869,0.048544
2,1,brown,nap,alpha,361839889.2,1121.726764,8.474708e+06,26.272135,0.023421
3,1,brown,nap,beta,361839889.2,1121.726764,1.281115e+07,39.715394,0.035406
4,1,brown,nap,gamma,361839889.2,1121.726764,4.691779e+06,14.544813,0.012966

In [7]:
# create new dataframe for `noise_type` == brown and `task` == nap and `freq_type` == delta
df_brown = df[(df['noise_type'] == 'brown') & (df['task'] == 'nap') & (df['freq_type'] == 'delta')]
df_brown.head()

,subject,noise_type,task,freq_type,sum_raw,avg_raw,sum_filtered,avg_filtered,rel_pow
0,1,brown,nap,delta,3.618399e+08,1121.726764,2.108865e+08,653.761464,0.582817
40,2,brown,nap,delta,2.982628e+08,924.633875,1.270853e+08,393.972463,0.426085
80,3,brown,nap,delta,2.281220e+09,7071.926534,1.179090e+09,3655.253619,0.516868
120,4,brown,nap,delta,1.189713e+10,36881.850040,1.613400e+09,5001.642192,0.135613

In [30]:
# create new dataframe for `noise_type` == white and `task` == nap and `freq_type` == delta
df_white = df[(df['noise_type'] == 'white') & (df['freq_type'] == 'delta')]
print(df_white)

     subject noise_type  task freq_type       sum_raw       avg_raw
30         1      white   nap     delta  1.816068e+08    562.992825  \
35         1      white  read     delta  4.689249e+08   1453.697264
70         2      white   nap     delta  4.074474e+08   1263.112863
75         2      white  read     delta  7.473852e+08   2316.941885
110        3      white   nap     delta  2.657852e+08    823.950951
115        3      white  read     delta  1.087459e+10  33711.916600
150        4      white   nap     delta  7.559024e+08   2343.345777
155        4      white  read     delta  5.705446e+09  17687.247970

     sum_filtered  avg_filtered   rel_pow
30   1.063711e+08    329.757194  0.585722
35   3.543676e+08   1098.562243  0.755702
70   1.532536e+08    475.095878  0.376131
75   3.399916e+08   1053.995637  0.454908
110  1.007243e+08    312.251796  0.378969
115  2.296303e+09   7118.686347  0.211162
150  5.506281e+08   1706.982323  0.728438
155  1.855257e+09   5751.414688  0.325173

In [9]:
# create new dataframe for `noise_type` == silent and `task` == nap and `freq_type` == delta
df_silent = df[(df['noise_type'] == 'silent') & (df['task'] == 'nap') & (df['freq_type'] == 'delta')]
df_silent.head()

,subject,noise_type,task,freq_type,sum_raw,avg_raw,sum_filtered,avg_filtered,rel_pow
20,1,silent,nap,delta,1.965442e+08,703.033394,9.192998e+07,328.831047,0.467732
60,2,silent,nap,delta,2.818446e+08,873.736106,9.762928e+07,302.656998,0.346394
100,3,silent,nap,delta,3.165079e+09,9811.947414,1.567215e+09,4858.467720,0.495158
140,4,silent,nap,delta,8.855621e+08,2745.299052,5.703611e+08,1768.155816,0.644067

In [10]:
# create new dataframe for `noise_type` == pink and `task` == nap and `freq_type` == delta
df_pink = df[(df['noise_type'] == 'pink') & (df['task'] == 'nap') & (df['freq_type'] == 'delta')]
df_pink.head()

,subject,noise_type,task,freq_type,sum_raw,avg_raw,sum_filtered,avg_filtered,rel_pow
10,1,pink,nap,delta,2.058275e+08,638.078383,1.442238e+08,447.102913,0.700702
50,2,pink,nap,delta,3.274847e+08,1015.223464,1.413191e+08,438.098284,0.431529
90,3,pink,nap,delta,2.095984e+08,649.768342,7.492243e+07,232.264321,0.357457
130,4,pink,nap,delta,2.815603e+09,8728.548046,1.291419e+09,4003.482889,0.458665

In [11]:
group1 = df_silent['rel_pow']
group2 = df_brown['rel_pow']
group3 = df_white['rel_pow']
group4 = df_pink['rel_pow']

In [12]:
# print mean of group1 and group2
print('group1 mean: ', group1.mean())
print('group2 mean: ', group2.mean())
print('group3 mean: ', group3.mean())
print('group4 mean: ', group4.mean())

group1 mean:  0.48833772900000005
group2 mean:  0.41534564375
group3 mean:  0.517314956
group4 mean:  0.48708840175

In [13]:
stat, p = stats.levene(group1, group2)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

stat, p = stats.levene(group1, group3)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

stat, p = stats.levene(group1, group4)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

Levene Statistic: 0.450, p=0.527
Levene Statistic: 1.218, p=0.312
Levene Statistic: 0.027, p=0.876

In [14]:
t_stat, p = stats.ttest_ind(group1, group2, equal_var=True)
print('t=%.3f, p=%.3f' % (t_stat, p))

t_stat, p = stats.ttest_ind(group1, group3, equal_var=True)
print('t=%.3f, p=%.3f' % (t_stat, p))

t_stat, p = stats.ttest_ind(group1, group4, equal_var=True)
print('t=%.3f, p=%.3f' % (t_stat, p))

t=0.629, p=0.553
t=-0.275, p=0.793
t=0.013, p=0.990

---

In [15]:
# create new dataframe for `noise_type` == brown and `task` == nap and `freq_type` == alpha
df_brown = df[(df['noise_type'] == 'brown') & (df['task'] == 'nap') & (df['freq_type'] == 'alpha')]

# create new dataframe for `noise_type` == white and `task` == nap and `freq_type` == alpha
df_white = df[(df['noise_type'] == 'white') & (df['task'] == 'nap') & (df['freq_type'] == 'alpha')]

# create new dataframe for `noise_type` == silent and `task` == nap and `freq_type` == alpha
df_silent = df[(df['noise_type'] == 'silent') & (df['task'] == 'nap') & (df['freq_type'] == 'alpha')]

# create new dataframe for `noise_type` == pink and `task` == nap and `freq_type` == alpha
df_pink = df[(df['noise_type'] == 'pink') & (df['task'] == 'nap') & (df['freq_type'] == 'alpha')]

In [16]:
group1 = df_silent['rel_pow']
group2 = df_brown['rel_pow']
group3 = df_white['rel_pow']
group4 = df_pink['rel_pow']

In [17]:
stat, p = stats.levene(group1, group2)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

stat, p = stats.levene(group1, group3)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

stat, p = stats.levene(group1, group4)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

Levene Statistic: 0.279, p=0.616
Levene Statistic: 1.011, p=0.354
Levene Statistic: 0.197, p=0.673

In [18]:
t_stat, p = stats.ttest_ind(group1, group2, equal_var=True)
print('t=%.3f, p=%.3f' % (t_stat, p))

t_stat, p = stats.ttest_ind(group1, group3, equal_var=True)
print('t=%.3f, p=%.3f' % (t_stat, p))

t_stat, p = stats.ttest_ind(group1, group4, equal_var=True)
print('t=%.3f, p=%.3f' % (t_stat, p))

t=0.831, p=0.438
t=0.464, p=0.659
t=-0.422, p=0.688

In [19]:
# create new dataframe for `noise_type` == brown and `task` == read and `freq_type` == alpha
df_brown = df[(df['noise_type'] == 'brown') & (df['task'] == 'read') & (df['freq_type'] == 'alpha')]

# create new dataframe for `noise_type` == white and `task` == read and `freq_type` == alpha
df_white = df[(df['noise_type'] == 'white') & (df['task'] == 'read') & (df['freq_type'] == 'alpha')]

# create new dataframe for `noise_type` == silent and `task` == read and `freq_type` == alpha
df_silent = df[(df['noise_type'] == 'silent') & (df['task'] == 'read') & (df['freq_type'] == 'alpha')]

# create new dataframe for `noise_type` == pink and `task` == read and `freq_type` == alpha
df_pink = df[(df['noise_type'] == 'pink') & (df['task'] == 'read') & (df['freq_type'] == 'alpha')]

In [20]:
group1 = df_silent['rel_pow']
group2 = df_brown['rel_pow']
group3 = df_white['rel_pow']
group4 = df_pink['rel_pow']

In [21]:
stat, p = stats.levene(group1, group2)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

stat, p = stats.levene(group1, group3)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

stat, p = stats.levene(group1, group4)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

Levene Statistic: 0.134, p=0.727
Levene Statistic: 0.307, p=0.599
Levene Statistic: 0.274, p=0.619

In [22]:
stat, p = stats.ttest_ind(group1, group2, equal_var=True)
print('t=%.3f, p=%.3f' % (stat, p))

stat, p = stats.ttest_ind(group1, group3, equal_var=True)
print('t=%.3f, p=%.3f' % (stat, p))

stat, p = stats.ttest_ind(group1, group4, equal_var=True)
print('t=%.3f, p=%.3f' % (stat, p))

t=-0.758, p=0.477
t=-0.058, p=0.955
t=-0.408, p=0.697

In [23]:
# create new dataframe for `noise_type` == brown and `task` == nap and `freq_type` == beta
df_brown = df[(df['noise_type'] == 'brown') & (df['task'] == 'nap') & (df['freq_type'] == 'beta')]

# create new dataframe for `noise_type` == white and `task` == nap and `freq_type` == beta
df_white = df[(df['noise_type'] == 'white') & (df['task'] == 'nap') & (df['freq_type'] == 'beta')]

# create new dataframe for `noise_type` == silent and `task` == nap and `freq_type` == beta
df_silent = df[(df['noise_type'] == 'silent') & (df['task'] == 'nap') & (df['freq_type'] == 'beta')]

# create new dataframe for `noise_type` == pink and `task` == nap and `freq_type` == beta
df_pink = df[(df['noise_type'] == 'pink') & (df['task'] == 'nap') & (df['freq_type'] == 'beta')]

In [24]:
group1 = df_silent['rel_pow']
group2 = df_brown['rel_pow']
group3 = df_white['rel_pow']
group4 = df_pink['rel_pow']

In [25]:
stat, p = stats.levene(group1, group2)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

stat, p = stats.levene(group1, group3)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

stat, p = stats.levene(group1, group4)
print('Levene Statistic: %.3f, p=%.3f' % (stat, p))

Levene Statistic: 0.013, p=0.913
Levene Statistic: 0.010, p=0.923
Levene Statistic: 0.255, p=0.632

In [26]:
stat, p = stats.ttest_ind(group1, group2, equal_var=True)
print('t=%.3f, p=%.3f' % (stat, p))

stat, p = stats.ttest_ind(group1, group3, equal_var=True)
print('t=%.3f, p=%.3f' % (stat, p))

stat, p = stats.ttest_ind(group1, group4, equal_var=True)
print('t=%.3f, p=%.3f' % (stat, p))

t=1.396, p=0.212
t=-0.286, p=0.785
t=-0.414, p=0.694